<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wqyap762.rprqs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="RPRQS"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log in"/>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register_account"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.LoginActivity" />
        </activity>
        <activity
            android:name=".OrderFoodActivity"
            android:label="@string/title_activity_order_food"
            android:parentActivityName=".CustomerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.CustomerMainActivity" />
        </activity>
        <activity
            android:name=".CustomerMainActivity"
            android:label="@string/title_activity_customer_main"/>
        <activity
            android:name=".SetOrderActivity"
            android:label="@string/title_activity_set_order"
            android:parentActivityName=".OrderFoodActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".RiceOrderActivity"
            android:label="@string/title_activity_rice_order"
            android:parentActivityName=".OrderFoodActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".NoodlesOrderActivity"
            android:label="@string/title_activity_noodles_order"
            android:parentActivityName=".OrderFoodActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".BeveragesOrderActivity"
            android:label="@string/title_activity_beverages_order"
            android:parentActivityName=".OrderFoodActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".DessertsOrderActivity"
            android:label="@string/title_activity_desserts_order"
            android:parentActivityName=".OrderFoodActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".FruitJuiceOrderActivity"
            android:label="@string/title_activity_fruit_juice_order"
            android:parentActivityName=".OrderFoodActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".SetOrderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.SetOrderActivity" />
        </activity>
        <activity
            android:name=".ViewOrderActivity"
            android:label="@string/title_activity_view_order"
            android:parentActivityName=".CustomerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.CustomerMainActivity" />
        </activity>
        <activity
            android:name=".OrderInfomationActivity"
            android:label="@string/title_activity_order_information"
            android:parentActivityName=".ViewOrderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewOrderActivity" />
        </activity>
        <activity
            android:name=".TrackOrderActivity"
            android:label="@string/title_activity_track_waiting_time"
            android:parentActivityName=".CustomerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.CustomerMainActivity" />
        </activity>
        <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_notice"/>
    </application>

</manifest>