<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wqyap762.rprqs" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="RPRQS"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log in" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register_account"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.LoginActivity" />
        </activity>
        <activity
            android:name=".OrderFoodActivity"
            android:label="@string/title_activity_order_food"
            android:parentActivityName=".CustomerMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.CustomerMainActivity" />
        </activity>
        <activity
            android:name=".CustomerMainActivity"
            android:label="@string/title_activity_customer_main" >
        </activity>
        <activity
            android:name=".SetOrderActivity"
            android:label="@string/title_activity_set_order"
            android:parentActivityName=".OrderFoodActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".RiceOrderActivity"
            android:label="@string/title_activity_rice_order"
            android:parentActivityName=".OrderFoodActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".NoodlesOrderActivity"
            android:label="@string/title_activity_noodles_order"
            android:parentActivityName=".OrderFoodActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".BeveragesOrderActivity"
            android:label="@string/title_activity_beverages_order"
            android:parentActivityName=".OrderFoodActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".DessertsOrderActivity"
            android:label="Desserts"
            android:parentActivityName=".OrderFoodActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".FruitJuiceOrderActivity"
            android:label="Fruit Juice"
            android:parentActivityName=".OrderFoodActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.OrderFoodActivity" />
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="Item Information"
            android:parentActivityName=".SetOrderActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.SetOrderActivity" />
        </activity>
        <activity
            android:name=".ViewOrderActivity"
            android:label="@string/title_activity_manage_order_customer"
            android:parentActivityName=".CustomerMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.CustomerMainActivity" />
        </activity>
        <activity
            android:name=".OrderInfomationActivity"
            android:label="@string/title_activity_order_info_customer"
            android:parentActivityName=".ViewOrderActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewOrderActivity" />
        </activity>
        <activity
            android:name=".TrackWaitingTimeActivity"
            android:label="@string/title_activity_track_waiting_time_customer"
            android:parentActivityName=".CustomerMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="wqyap762.rprqs.CustomerMainActivity" />
        </activity>
    </application>

</manifest>
